<div class="w-md-5">
    <div class="asideItems">
    	<h2 class="asideDt">帐户信息</h2>
        <div class="asideCont">            
            会员编号：<span class="t-green"><{:C('rsuser.username')}></span><br>
            会员级别：<span class="t-green"><{$userRank|getRank}></span>
        </div>
        <span class="divider"></span>
        <!-- <span class="divider"></span> -->    	
    </div>

    
    <dl class="asideItems">
      <dt class="asideDt">帮助中心</dt>
      <dd class="asideDd">
        <a href="<{:U('message/index')}>"><i class="icon-lingdang"></i>消息中心</a>
        <a href="<{:U('order/index')}>"><i class="icon-finance"></i>我的订单</a>
        <a href="<{:U('user/purse')}>"><i class="icon-purse"></i>我的钱包</a>
        <a href="<{:U('user/team')}>"><i class="icon-teams"></i>我的团队</a> 
        <a href="<{:U('user/index')}>"><i class="icon-user-edit"></i>我的资料</a>
        <a href="<{:U('user/changepwd')}>"><i class="icon-verity"></i>修改密码</a>
      </dd>
    </dl>
</div>