<include file='Index:header'/>
<div class="page">

<div class="tab-box J_tab">
  <ul class="nav nav-tabs">
    <li class="active" data-target="showBank">平台银行卡设置</a></li>
  </ul>
  <div class="tab-content">
      <form class="ajaxForm2 form-horizontal" action="<{:U('sys/bankDo')}>" method="post">
          <div id="showBank" class="tab-pane tab-active">
              <div class="form-items">
                  <label class="col-sm-2 control-label">持卡人姓名：</label>
                  <div class="col-sm-10"><input type="text" name="realname" class="input-text col-sm-5 col-xs-10" value="<{$rs.realname}>" placeholder="持卡人姓名"></div>
              </div>
              <div class="form-items">
                  <label class="col-sm-2 control-label">绑定手机号：</label>
                  <div class="col-sm-10"><input type="text" name="bindphone" class="input-text col-sm-5 col-xs-10" value="<{$rs.bindphone}>" placeholder="银行卡绑定手机号"></div>
              </div>
              <div class="form-items">
                  <label class="col-sm-2 control-label">银行卡类型：</label>
                  <div class="col-sm-10">
                      <select name="banktype" class="input-text col-sm-5 col-xs-10">
                        <?php
                          foreach(C('bankType') as $key=>$value){
                            if($key == $banktype){
                                echo '<option value="'.$key.'" selected>'.$value.'</option>';
                            }else{
                                echo '<option value="'.$key.'">'.$value.'</option>';
                            }
                          }
                        ?>
                      </select>
                  </div>
              </div>
              <div class="form-items">
                  <label class="col-sm-2 control-label">银行卡号：</label>
                  <div class="col-sm-10"><input type="text" name="cardno" value="<{$rs.cardno}>" class="input-text col-sm-5 col-xs-10" placeholder="银行卡号"></div>
              </div>
              <div class="form-items">
                  <label class="col-sm-2 control-label">开户行地址：</label>
                  <div class="col-sm-10"><input type="text" name="bankaddress" value="<{$rs.bankaddress}>" class="input-text col-sm-5 col-xs-10" placeholder="银行卡开户行地址"></div>
              </div>
          </div>

          <div class="form-items">
            <label class="col-sm-2">&nbsp;</label>
            <div class="col-sm-10">
              <button class="btn btn-success" type="submit"><i class="ace-icon icon-right"></i>确认修改</button>
              <button class="btn btn-primary" type="reset"><i class="ace-icon icon-back"></i>重置</button>
            </div>
          </div>
      </form>
  </div>
</div>


</div>

<include file='Index:footer'/>