<include file='Index:header'/>
<div class="page">

<div class="tab-box J_tab">
  <ul class="nav nav-tabs">
    <li class="active" data-target="webSetting">网站设置</a></li>
    <li data-target="showBank">平台帐户</a></li>
    <li data-target="sys">系统设置</li>
  </ul>
  <div class="tab-content">
<form class="ajaxForm2 form-horizontal" action="<{:U('sys/saveDo')}>" method="post">
  <div id="webSetting" class="tab-pane tab-active">
      <div class="form-items">
          <label class="col-sm-2 control-label">关闭网站：</label><div class="col-sm-10" style="padding-top:5px"><input name="isclose" value="1"  <if condition="$rs.isclose eq 1">checked</if> class="switch btn-flat" type="checkbox" /><span class="lbl"></span></div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">网站名称：</label>
          <div class="col-sm-10"><input type="text" name="webname" class="input-text col-sm-5 col-xs-10" value="<{$rs.webname}>" placeholder="网站名称"></div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">网站域名：</label>
          <div class="col-sm-10"><input type="text" name="domain" class="input-text col-sm-5 col-xs-10" value="<{$rs.domain}>" placeholder="网站域名"></div>
      </div>
  </div>
  <div id="showBank" class="tab-pane">
      <div class="form-items">
          <label class="col-sm-2 control-label">持卡人姓名：</label>
          <div class="col-sm-10"><input type="text" name="realname" class="input-text col-sm-5 col-xs-10" value="<{$rs.realname}>" placeholder="持卡人姓名"></div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">绑定手机号：</label>
          <div class="col-sm-10"><input type="text" name="bindphone" class="input-text col-sm-5 col-xs-10" value="<{$rs.bindphone}>" placeholder="银行卡绑定手机号"></div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">银行卡类型：</label>
          <div class="col-sm-10">
              <select name="banktype" class="input-text col-sm-5 col-xs-10">
                <?php
                  foreach(C('bankType') as $key=>$value){
                    if($key == $banktype){
                        echo '<option value="'.$key.'" selected>'.$value.'</option>';
                    }else{
                        echo '<option value="'.$key.'">'.$value.'</option>';
                    }
                  }
                ?>
              </select>
          </div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">银行卡号：</label>
          <div class="col-sm-10"><input type="text" name="cardno" value="<{$rs.cardno}>" class="input-text col-sm-5 col-xs-10" placeholder="银行卡号"></div>
      </div>
      <div class="form-items">
          <label class="col-sm-2 control-label">开户行地址：</label>
          <div class="col-sm-10"><input type="text" name="bankaddress" value="<{$rs.bankaddress}>" class="input-text col-sm-5 col-xs-10" placeholder="银行卡开户行地址"></div>
      </div>
  </div>
  <div id="sys" class="tab-pane">
    <div class="form-items">
      <label class="col-sm-2 control-label">激活金额：</label>
      <div class="col-sm-10">
        <input type="text" name="jhPrice" class="input-text settings-num" value="<{$rs.jhprice}>"><span class="input-group-addon">元</span>
      </div>
    </div>
    <volist name="rank" id="vo">
      <hr class="hr">
      <div class="form-items">
        <label class="col-sm-2 control-label" style="padding-top:0">
        <input type="text" name="rankTypeArr[]" class="input-text settings-num" value="<{$vo[0]}>">：</label>
        <div class="col-sm-10">
          <span class="input-group-addon">上级</span><input type="text" name="ldLevelArr[]" class="input-text settings-num" value="<{$vo[1]}>"><span class="input-group-addon">层，获得金额</span><input type="text" name="jjPriceArr[]" class="input-text settings-num3" value="<{$vo[2]}>"><span class="input-group-addon">元，升级时间</span><input type="text" name="upHourArr[]" class="input-text settings-num" value="<{$vo[3]}>"><span class="input-group-addon">小时</span>
        </div>
      </div>
   </volist>

  </div> <!-- baisc 基础设置 -->


    <div class="form-items">
      <label class="col-sm-2">&nbsp;</label>
      <div class="col-sm-10">
        <button class="btn btn-success" type="submit"><i class="ace-icon icon-right"></i>确认修改</button>
        <button class="btn btn-primary" type="reset"><i class="ace-icon icon-back"></i>重置</button>
      </div>
    </div>
  </div>
</div>


</div>

<include file='Index:footer'/>