<include file='Index:header'/>

<div class="container ptb42">
    <include file='Index:aside'/>
    <div class="w-md-8p">
        <div class="areaR" style="border: 1px solid #ccc;">
        	<h2 class="asideDt">我的钱包</h2>
			<div class="areaRcont">
			    <div class="row bussinessAll">
					    <div class="w-md-3 w-xs-1">
		   			      <div class="BussinessItems animated-panel zoomIn" style="-webkit-animation-delay: 0.2s;">
		   			        <h2 class="title"><{$CoinA}></h2>
		   			        <div class="meta">可用：<b class="t-red"><{:C('rsuser.coin0')}></b> 个</div>
		   			        <a href="javascript:;" class="button button-action button-circle button-longshadow" title="<{$CoinA}>"><i class="icon-qian3"></i></a>
		   			      </div>
		   			    </div>
		   			    <div class="w-md-3 w-xs-1">
		   			      <div class="BussinessItems animated-panel zoomIn" style="-webkit-animation-delay: 0.4s;">
		   			        <h2 class="title"><{$CoinB}></h2>
		   			        <div class="meta">可用：<b class="t-red"><{:C('rsuser.coin1')}></b> 个</div>
		   			        <a href="javascript:;" class="button button-royal button-circle button-longshadow" title="<{$CoinB}>"><i class="icon-lixi"></i></a>
		   			      </div>      
		   			    </div>
		   			    <div class="w-md-3 w-xs-1">
		   			      <div class="BussinessItems animated-panel zoomIn" style="-webkit-animation-delay: 0.6s;">
		   			        <h2 class="title"><{$CoinC}></h2>
		   			        <div class="meta">可用：<b class="t-red"><{:C('rsuser.coin2')}></b> 个</div>
		   			        <a href="javascript:;" class="button button-highlight button-circle button-longshadow" title="<{$CoinC}>"><i class="icon-jiangjin"></i></a>
		   			      </div>
		   			    </div>
				    </div> <!-- 提供操作按钮-->
				</div>
			</div>
        </div>
    </div>
</div>

<include file='Index:footer'/>


<div class="border" style="border: 1px solid #ccc;margin: 0 8px 16px">
