<include file='Index:header'/>

<div class="userRge">
  <div class="container">
    <h2 class="animated-panel zoomIn" style="-webkit-animation-delay: 0.1s;">注册会员</h2>
    <p class="animated-panel zoomIn" style="-webkit-animation-delay: 0.3s;">一个让平民变富翁的游戏！</p>
  </div>
</div>
<div class="container">
  <div class="userRegMain">
<form id="regForm" action="<{:U('user/regDo')}>" method="post">
  <div class="row">    
    <div class="col-lg-6">
      <div class="form-group"><label class="label">接点人用户编号</label><input type="text" placeholder="请输入接点人用户编号" class="text-ipt" value="<{$parentuser}>" name="parentuser" readonly></div>
    </div>
    <div class="col-lg-6">
      <div class="form-group"><label class="label">新会员用户编号</label><input type="text" placeholder="新会员用户编号" class="text-ipt" value="<{$username}>" name="username" readonly></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group"><label class="label">登录密码<span>（默认为：123456）</span></label><input type="text" placeholder="登录密码" class="text-ipt" name="password" value="123456"></div>
    </div>
    <div class="col-lg-6">
      <div class="form-group"><label class="label" for=""><span>*</span>手机号<span>（必填）</span></label><input type="number" placeholder="手机号" class="text-ipt" name="phone" id="mobile"></div>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group"><label class="label">开户银行</label><select name="banktype" class="text-ipt"><option value="1">中国农业银行</option></select></div>
    </div>
    <div class="col-lg-6">
      <div class="form-group"><label class="label"><span>*</span>银行帐号<span>（必填）</span></label><input  type="text" name="cardno" placeholder="银行帐号" class="text-ipt" id="cardno"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group"><label class="label"><span>*</span>开户姓名<span>（必填）</span></label><input  type="text" name="realname" placeholder="开户姓名" class="text-ipt" id="realname"></div>
    </div>
    <div class="col-lg-6">
      <div class="form-group"><label class="label">请选择会员点位</label>
        <label class="radioWrap" for="parent_where_1"><input class="currantRadio" id="parent_where_1" type="radio" name="parent_where" value="1" <?php if($where==='1'){?> checked <?php } ?> required><label for="parent_where_1">左区</label></label>
        <label class="radioWrap" for="parent_where_2"><input class="currantRadio" id="parent_where_2" type="radio" name="parent_where" value="2" <?php if($where==='2'){?> checked <?php } ?> required><label for="parent_where_2">右区</label></label>
      </div>
    </div>
  </div> 
  <input type="hidden" name="tjuser" value="<{$tjuser}>">
  <input type="hidden" name="tjid" value="<{$tjid}>">
  <div class="form-group-bottom clearfix tac">
    <a class="text-submit J_submit" href="javascript:;" onclick="checkout()"><i class="ace-icon icon-right"></i>确认注册</a>
    <button class="text-reset" type="reset"><i class="ace-icon icon-back"></i>重置</button>
  </div>
</form>
</div>
</div>


<include file='Index:footer'/>

<script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
<script>
	function luhmCheck(bankno){
	    var lastNum=bankno.substr(bankno.length-1,1);//取出最后一位（与luhm进行比较）
	 
	    var first15Num=bankno.substr(0,bankno.length-1);//前15或18位
	    var newArr=new Array();
	    for(var i=first15Num.length-1;i>-1;i--){    //前15或18位倒序存进数组
	        newArr.push(first15Num.substr(i,1));
	    }
	    var arrJiShu=new Array();  //奇数位*2的积 <9
	    var arrJiShu2=new Array(); //奇数位*2的积 >9
	     
	    var arrOuShu=new Array();  //偶数位数组
	    for(var j=0;j<newArr.length;j++){
	        if((j+1)%2==1){//奇数位
	            if(parseInt(newArr[j])*2<9)
	            arrJiShu.push(parseInt(newArr[j])*2);
	            else
	            arrJiShu2.push(parseInt(newArr[j])*2);
	        }
	        else //偶数位
	        arrOuShu.push(newArr[j]);
	    }
	     
	    var jishu_child1=new Array();//奇数位*2 >9 的分割之后的数组个位数
	    var jishu_child2=new Array();//奇数位*2 >9 的分割之后的数组十位数
	    for(var h=0;h<arrJiShu2.length;h++){
	        jishu_child1.push(parseInt(arrJiShu2[h])%10);
	        jishu_child2.push(parseInt(arrJiShu2[h])/10);
	    }        
	     
	    var sumJiShu=0; //奇数位*2 < 9 的数组之和
	    var sumOuShu=0; //偶数位数组之和
	    var sumJiShuChild1=0; //奇数位*2 >9 的分割之后的数组个位数之和
	    var sumJiShuChild2=0; //奇数位*2 >9 的分割之后的数组十位数之和
	    var sumTotal=0;
	    for(var m=0;m<arrJiShu.length;m++){
	        sumJiShu=sumJiShu+parseInt(arrJiShu[m]);
	    }
	     
	    for(var n=0;n<arrOuShu.length;n++){
	        sumOuShu=sumOuShu+parseInt(arrOuShu[n]);
	    }
	     
	    for(var p=0;p<jishu_child1.length;p++){
	        sumJiShuChild1=sumJiShuChild1+parseInt(jishu_child1[p]);
	        sumJiShuChild2=sumJiShuChild2+parseInt(jishu_child2[p]);
	    }      
	    //计算总和
	    sumTotal=parseInt(sumJiShu)+parseInt(sumOuShu)+parseInt(sumJiShuChild1)+parseInt(sumJiShuChild2);
	     
	    //计算Luhm值
	    var k= parseInt(sumTotal)%10==0?10:parseInt(sumTotal)%10;        
	    var luhm= 10-k;
	     
	    if(lastNum!=luhm){		    
            return false;
	    }else{
	    	return true;
	    }
	}

	function checkout(){
		var mobile = parseInt($("#mobile").val());
        if(mobile<13000000000||mobile>18999999999||isNaN(mobile)){
            layer.tips('请输入正确的手机号',$("#mobile"), { tips: [1, '#FF3100'], time:3000 });
            return false;
        }

		var uname = $("#realname").val();  
        if(uname.length<1){
            layer.tips('姓名不能为空',$("#realname"), { tips: [1, '#FF3100'], time:3000 });
            return false;
        }
        if(!/.*[\u4e00-\u9fa5]+.*$/.test(uname)){
            layer.tips('姓名还是填中文的吧',$("#realname"), { tips: [1, '#FF3100'], time:3000 });
            return false;
        }

        var cardno = $("#cardno").val();  
        if(cardno.length<1){
            layer.tips('银行卡号不能为空',$("#cardno"), { tips: [1, '#FF3100'], time:3000 });
            return false;
        }
        if(!luhmCheck(cardno)){
        	layer.tips('银行卡号必须符合Luhm校验',$("#cardno"), { tips: [1, '#FF3100'], time:3000 });
        	return false;
        };

        var action = $("#regForm").attr('action');
        $.ajax({
            type: 'POST',
            url: action,
            timeout: 20000,
            dataType: "json",
            beforeSend: function(){
                $('.J_submit').addClass('loading');
                $('.J_submit').text('正在提交...');
            },
            complete: function(){
                $('.J_submit').removeClass('loading');
                $('.J_submit').text('预约试听提交');
            },
            data: $("#regForm").serialize(),
            success: function(data){
                if(data.status==1){
                    layer.alert(data.info, {icon: 6});
                    location.href = data.url;
                }else{
                    layer.msg(data.info, {icon: 5});
                }
                
            },
            error:function(data){
                layer.msg("网络延迟，请您一定要再试一试");
            }
        });
 
	}
</script>