<include file='Index:header'/>
<div class="page">
  <div class="maintop text-c">
      <form action="">
          订单编号：<input type="text" class="input-text" name="no" value="<{$orderNo}>" style="width:120px">
          付款人编号：<input type="text" class="input-text" name="username" value="<{$orderUser}>" style="width:120px">
          订单类型：<select name="type" >
          <option value="">--请选择--</option>
            <?php
            foreach(C('orderType') as $k=>$v){
              echo "<option value=".$k.">".$v."</option>";
            }
            ?>
          </select>
          订单状态：<select name="status" >
          <option value="">--请选择--</option>
            <?php
            foreach(C('orderStatus') as $k=>$v){
              echo "<option value=".$k.">".$v."</option>";
            }
            ?>
          </select>
          <input type="submit" class="btn btn-success" value="查询">
      </form>
  </div>


  <table class="Table" width="100%">
      <thead>
        <tr><th>订单编号</th><th>付款方</th><th>总金额</th><th>实付款金额</th><th>订单状态</th><th class="hidden-sm hidden-xs">订单生成日期</th><th>订单过期时间</th><th>明细备注</th><th>操作</th></tr>
        </thead>
      <tbody>
          <volist name="rs" id="vo" empty="$empty">
            <tr>
              <td><strong><{$vo.no}></strong></td>
              <td><{$vo.username}></td>
              <td><{$vo.price}></td>
              <td class="t-green"><{$vo.price1}></td>
              <td><span class='<if condition="$vo.status eq 0">t-orange<elseif  condition="$vo.status eq 1"/>t-green<else/>t-red</if>'><{$vo.status|orderStatus}></span></td>
              <td class="hidden-sm hidden-xs t-green"><{:date('Y-m-d H:i',$vo['addtime'])}></td>
              <td class="hidden-sm hidden-xs t-red"><{:date('Y-m-d H:i',$vo['expiretime'])}></td>                    
              <td><{$vo.remark}></td>
              <td><div class="action-buttons">
                <if condition="$vo['status'] eq 0">
                    <a href="javascript:;"  onclick="winopen('付款明细', '<{:U(\"business/tgDetails\",array(\"id\"=>$vo[id]))}>', '620px')" class="btn btn-minier btn-danger">订单详情</a>
                <elseif condition="$vo['status'] eq 1"/>
                    <span class="btn btn-minier btn-success"><{$vo.status|orderStatus}></span>
                <elseif condition="$vo['status'] eq 2"/>
                    <span class="btn btn-minier btn-danger"><{$vo.status|orderStatus}></span>
                </if>
              </div></td>
            </tr>
          </volist>
      </tbody>
      <tfoot class="tfoot"><tr><td colspan="10"><div class="pageNav"><{$page}></div></td></tr></tfoot> 
  </table>



</div>

<include file='Index:footer'/>
